#navbar img {
  width: 40px;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover {
  color: #F2A340;
  transition: 0.5s;
}

#search-container {
  text-align: center;
}

#search-container h1 {
  color: #F2A340;
  margin-bottom: 30px;
  font-weight: 900;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
  margin-left: 10px;
  margin-right: 10px;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #CCC;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}

.msg{
  border-radius: 2px;
  margin: auto;
  background-color: #d4EDDA;
  color: 155424;
  border:  1px solid #C3E6CB;
  width: 400px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* Event page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #F2A340;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

.not-available{
  border-radius: 2px;
  margin: auto;
  background-color: #edd4d4;
  color: 155424;
  border:  1px solid #e6c3c3;
  width: 400px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.box-search{
  display: flex;
  justify-content: center;
  gap: 0.5%;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}
 .box-search-title{
  text-align: center;
}
 .box-div{
  display: block;
}

/* Dashboard */
.dashboard-title-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard-events-container th {
  width: 25%;
}

.dashboard-events-container form {
  display: inline-block;
}

.img-preview{
  width: 100px;
  margin-top: 20px;
}

.already-joined-msg{
  margin: 15px 0;
  color: #004085;
  background-color: #CCE5FF;
  border: #B8DAFF;
  padding: 10px;
  width: 275px;
}